{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Pseudo Criticos</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css" %} rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <img src="{% static "img/logo.png" %}" alt="logo" width="100px" height="60px">
                <a class="navbar-brand" href="#!">Pseudo Criticos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contato</a></li>                        
                    </ul>
                </div>
            </div>
        </nav>
        
        <!--corpo da pagina de login -->

        <section class="h-100 gradient-form" style="background-color: rgb(255, 255, 255);">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                  <div class="card rounded-3 text-black">
                    <div class="row g-0">
                      <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
          
                          <div class="text-center">
                            <img src="{% static "img/logo.png" %}" alt="logo" width="200px" height="120px" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1">Bem vindo</h4>
                          </div>
          
                          <form method="POST">     
                            
                            {% csrf_token %}
                            
                            {{ form.as_p }}
                            
                            
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Logar</button>
                            
          
                            <div class="d-flex align-items-center justify-content-center pb-4">
                              <p class="mb-0 me-2">Não tem usuario?</p>
                              <button type="button" class="btn btn-outline-danger">cadastrar novo</button>
                            </div>
          
                          </form>
          
                        </div>                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>